<link rel='stylesheet' href='/src/components/chat-item/chat-item.scss' />

<div class='chat-item'>
  <section>
  {{> avatar/avatar src='{{avatar}}' class='chat-list-item-avatar' }}
  </section>
  
  <section class="last-messages">
    <span class="person-name">{{name}}</span>
      {{#if personMessage}}
        <span>{{personMessage}}</span>
      {{/if}}
      {{#if userMessage}}
        <span>Ğ’Ñ‹:&nbsp;{{userMessage}}</span>
      {{/if}}
  </section>

  <section class="time-and-unread-count">
    <span>{{lastMessageTime}}</span>
    {{#if unreadCount}}
      <span class="number-circle">{{unreadCount}}</span>
     {{/if}}
  </section>
</div>
