<link rel='stylesheet' href='/src/components/chat-item/chat-item.scss' />

<div class='chat-item'>
  <section>
  {{> avatar/avatar src='{{avatar}}' class='chat-list-item-avatar' }}
  </section>
  
  <section class="lastMessages">
    <span class="personName">{{name}}</span>
      {{#if personMessage}}
        <span>{{personMessage}}</span>
      {{/if}}
      {{#if userMessage}}
        <span>Ğ’Ñ‹:&nbsp;{{userMessage}}</span>
      {{/if}}
  </section>

  <section class="time-and-unreadCount">
    <span>{{lastMessageTime}}</span>
    {{#if unreadCount}}
      <span class="numberCircle">{{unreadCount}}</span>
     {{/if}}
  </section>
</div>